div.modui-popup {
  position: absolute;
  display: none;
  top: 0px;
  right: 0px;
  z-index: 2000;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  font-family: 'Open sans', 'Arial';
  font-size: 13px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  min-width: 50px;
  transition: opacity .07s linear;
  padding: 3px;
  line-height: 1.4;
  /*--- Below ---*/
  /*--- Above ---*/
  /*--- Left Center ---*/
  /*--- Right Center  ---*/
}
div.modui-popup[data-state='closed'] {
  display: block;
  opacity: 0;
}
div.modui-popup[data-state='repositioning'] {
  display: block;
}
div.modui-popup[data-state='open'] {
  display: block;
  opacity: .95;
}
div.modui-popup[data-state='closing'] {
  display: block;
  opacity: 0;
}
div.modui-popup:before {
  position: absolute;
  content: "";
  width: 11px;
  height: 11px;
  background-image: none;
  background-color: #FFFFFF;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
div.modui-popup.bottom {
  margin: 10px 0 0;
}
div.modui-popup.top {
  margin: 0 0 10px;
}
div.modui-popup.left.center {
  margin: 0 10px 0 0;
}
div.modui-popup.right.center {
  margin: 0 0 0 10px;
}
div.modui-popup.center {
  margin-left: -10px;
}
div.modui-popup.bottom:before {
  border-top: 1px solid silver;
  border-left: 1px solid silver;
}
div.modui-popup.bottom.center:before {
  margin-left: -6px;
  top: -6px;
  left: 50%;
  right: auto;
  bottom: auto;
}
div.modui-popup.bottom.right:before {
  top: -6px;
  right: 12px;
  bottom: auto;
  left: auto;
  margin-left: 0;
}
div.modui-popup.bottom.left:before {
  top: -6px;
  left: 12px;
  right: auto;
  bottom: auto;
  margin-left: 0;
}
div.modui-popup.top:before {
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
}
div.modui-popup.top.center:before {
  top: auto;
  right: auto;
  bottom: -6px;
  left: 50%;
  margin-left: -6px;
}
div.modui-popup.top.right:before {
  bottom: -6px;
  right: 12px;
  top: auto;
  left: auto;
  margin-left: 0;
}
div.modui-popup.top.left:before {
  bottom: -6px;
  left: 12px;
  top: auto;
  right: auto;
  margin-left: 0;
}
div.modui-popup.left.center:before {
  top: 50%;
  right: -6px;
  bottom: auto;
  left: auto;
  margin-top: -6px;
  border-top: 1px solid silver;
  border-right: 1px solid silver;
}
div.modui-popup.right.center:before {
  top: 50%;
  left: -6px;
  bottom: auto;
  right: auto;
  margin-top: -6px;
  border-bottom: 1px solid silver;
  border-left: 1px solid silver;
}
div.modui-popup div.html-contents {
  padding: 4px;
  min-width: 125px;
  max-width: 275px;
}

ul.collection-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  outline: none;
  cursor: pointer;
}

var.empty-list-caption {
  color: #A0A0A0;
  padding: 30px;
  display: block;
  text-align: center;
  font-style: normal;
  line-height: 1.45;
}

a {
  text-decoration: none;
}

button {
  padding: 10px 14px;
  color: white;
  text-shadow: 0 -1px 0px rgba(0, 0, 0, 0.25);
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  cursor: pointer;
}

.button-big {
  display: block;
  width: 300px;
  margin: 35px 0 0 90px;
  float: left;
  font-size: 25px;
  letter-spacing: 1px;
}

.button-small {
  font-size: 14px;
}

.button-right {
  float: right;
}

.button-orange {
  background: #ff8742;
  border: 1px solid #f55a00;
  border-radius: 4px;
  background: linear-gradient(#ffa16b, #ff6e1a);
}

.button-orange:hover {
  background: linear-gradient(#ff9457, #ff6105);
}

.button-blue {
  background: #678be4;
  border: 1px solid #2659d9;
  border-radius: 4px;
  background: linear-gradient(#8aa5ea, #4570de);
}

.button-blue:hover {
  background: linear-gradient(#799ae7, #3366db);
}

.button-red {
  background: #e06777;
  border: 1px solid #cf2a40;
  border-radius: 4px;
  background: linear-gradient(#e78895, #d94558);
}

.button-red:hover {
  background: linear-gradient(#e37886, #d53449);
}

.button-green {
  background: #6abe71;
  border: 1px solid #43984a;
  border-radius: 4px;
  background: linear-gradient(#86ca8c, #4eb156);
}

.button-green:hover {
  background: linear-gradient(#78c47f, #48a34f);
}

body {
  margin: 0;
  color: #333333;
  font-family: 'PT Sans', sans-serif;
}

header {
  position: fixed;
  display: block;
  top: 0;
  width: 100%;
  padding: 12px 0 10px 0;
  border-bottom: 1px solid #9ebaff;
  background: #ebf0ff;
  z-index: 100;
}

.gh-icon-blue {
  opacity: 0;
}

.gh-icon-wrapper {
  position: absolute;
  height: 63px;
  right: 0px;
  bottom: 14px;
  overflow: hidden;
  width: 110px;
  margin: -15px;
}

.gh-icon-wrapper:hover .gh-icon-blue {
  opacity: 1;
}

.gh-icon-wrapper:hover .gh-icon-black {
  opacity: 0;
}

.gh-icon-wrapper .gh-icon-black {
  opacity: 0.8;
}

.gh-icon {
  position: absolute;
  top: 9px;
  right: 30px;
  height: 42px;
  width: 42px;
  border-style: none;
}

h1 {
  margin: 0;
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 1090px;
}

.navigation {
  position: fixed;
  float: left;
  width: 170px;
  top: 80px;
}

.navigation li {
  margin: 14px 0;
  color: #808080;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}

.navigation li:hover {
  color: #96aee8;
}

.navigation .selected {
  color: #678be4;
}

.navigation .selected:hover {
  color: #678be4;
}

.intro-text {
  margin: 30px 0 0;
  font-size: 20px;
  line-height: 27px;
  -webkit-font-smoothing: antialiased;
}

.example-wrapper {
  margin-left: 220px;
  margin-top: 63px;
  float: left;
}

.example-container {
  float: left;
  margin: 0 0 15px;
}

.example-container h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 28px;
  padding-bottom: 4px;
}

body {
  margin: 0;
  color: #333;
  font-family: 'PT Sans', sans-serif;
}

pre {
  overflow: auto;
  float: left;
  width: 437px;
  height: 174px;
  padding: 18px 15px;
  margin: 0;
  border: 1px solid #9c9c9c;
  line-height: 18px;
  font-size: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #23293e;
  cursor: pointer;
}

.demo-container {
  width: 350px;
  margin-right: 40px;
  float: left;
}

.demo-container p {
  font-size: 14px;
}

.code-container {
  float: left;
  width: 480px;
  position: relative;
}

.code-wrapper {
  float: left;
}

.example3-table, .example4--trigger, .big-button {
  background-color: #3E606F;
  border: thin solid #193441;
  color: #FCFFF5;
}

.big-button {
  width: 200px;
  font-size: 30px;
}

.example2-popup-element {
  width: 200px;
  margin: 15px;
}

.example3-table {
  width: 100%;
  padding: 5px;
}

.example3-table tr {
  height: 30px;
}

.example3-table td {
  width: 30%;
}

.example3-table__top {
  vertical-align: top;
}

.example3-table__bottom {
  vertical-align: bottom;
}

.example3-table__right {
  text-align: right;
}

.example3-table__center {
  text-align: center;
}

.example3-table__left {
  text-align: left;
}

.example4--outer {
  position: relative;
  display: inline-block;
  overflow: scroll;
  width: 350px;
  height: 185px;
}

.example4--inner {
  display: inline-block;
  width: 600px;
  height: 250px;
}

.example4--trigger {
  display: inline-block;
  border: 0;
  margin: 100px 250px;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
