body {
	margin: 0;
	color: #333;
	font-family: 'PT Sans', sans-serif;
}

pre {
	overflow: auto;
	float: left;
	width: 437px;
	height: 174px;
	padding: 18px 15px;
	margin: 0;
	border: 1px solid #9c9c9c;
	line-height: 18px;
	font-size: 12px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	background: #23293e;
	cursor: pointer;
}

.demo-container {
	width: 350px;
	margin-right: 40px;
	float: left;
	
	p {
		font-size: 14px;
	}
}

.code-container {
	float: left;
	width: 480px;
	position: relative;
}

.code-wrapper {
	float: left;
}

.example3-table, .example4--trigger, .big-button {
	background-color: #3E606F;
	border: thin solid #193441;
	color: #FCFFF5;
}

.big-button{
	width: 200px;
	font-size: 30px;
}

.example2-popup-element{
	width: 200px;
	margin: 15px;
}

.example3-table{
	width: 100%;
	padding: 5px;
}

.example3-table tr{
	height: 30px;
}

.example3-table td{
	width: 30%;
}

.example3-table__top{
	vertical-align: top;
}

.example3-table__bottom{
	vertical-align: bottom;
}

.example3-table__right{
	text-align: right;
}

.example3-table__center{
	text-align: center;
}

.example3-table__left{
	text-align: left;
}

.example4--outer{
	position: relative;
	display: inline-block;
	overflow: scroll;
	width: 350px;
	height: 185px;
}

.example4--inner{
	display: inline-block;
  width: 600px;
  height: 250px;
}

.example4--trigger{
	display: inline-block;
	border: 0;
	margin: 100px 250px;
	width: 100px;
	height: 100px;
	cursor: pointer;
}