@font-face{
  font-family: 'unispace';
  src: url('../fonts/unispace.ttf');
}

@font-face{
  font-family: 'main';
  src: url('../fonts/Sansation.ttf');
}

body{
	margin: 0;
	background-color: #FCFFF5;
	font-family: 'main', sans-serif;
}

body, button, input, a{
	color: #193441;
}

body, input{
	font-size: 1.5vw;
}

button, input, .example3-table, .nav--link, .code, .example4--trigger{
	background-color: #3E606F;
	border: .1vw solid #193441;
	color: #FCFFF5;
}

button, .nav--link, .example4--trigger{
	transition: background-color 0.5s ease;
}

button:hover, .nav--link:hover, .example4--trigger:hover{
	background-color: #193441;
}

input{
	padding: .6vw 1vw;
	max-width: 100%;
}

code, h1, h2, h3{
	font-family: 'unispace', monospace;
}

.modui-popup{
	background-color: #FCFFF5 !important;
	color: #193441 !important;
	font-size: 1.2vw !important;
}

.main{
	max-width: 62vw;
	margin: 0 auto;
}

.banner{
	font-size: 5vw;
	margin: 3vw 0 5vw;
	text-align: center;
}

.nav{
	width: 100%;
}

.nav--link{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 32%;
	padding: 1vw 0;
}

.section-header{
	font-size: 3vw;
	margin-top: 5.5vw;
}

.example{
	margin-top: 3.5vw;
}

.example--component{
	display: inline-block;
	vertical-align: middle;
}

.example--text{
	width: 70%;
}

.example--demo{
	width: 29%;
	text-align: right;
}

.example--demo__left{
	text-align: left;
}

.big-button{
	width: 14vw;
	height: 3vw;
	font-size: 1.8vw;
	cursor: pointer;
}

.example2--container{
	overflow: hidden;
	text-align: center;
	width: 10vw;
	padding-bottom: 1vw;
}

.example2--container input{
	width: 8vw;
}

.example3-table{
	width: 100%;
	padding: 1vw;
}

.example3-table tr{
	height: 4vw;
}

.example3-table td{
	width: 30%;
}

.example3-table__top{
	vertical-align: top;
}

.example3-table__bottom{
	vertical-align: bottom;
}

.example3-table__right{
	text-align: right;
}

.example3-table__center{
	text-align: center;
}

.example3-table__left{
	text-align: left;
}

.example4--outer{
	position: relative;
	display: inline-block;
	overflow: scroll;
	width: 14vw;
	height: 14vw;
}

.example4--inner{
	display: inline-block;
	width: 28vw;
	height: 28vw;
}

.example4--trigger{
	display: inline-block;
	border: 0;
	margin: 11.5vw;
	width: 5vw;
	height: 5vw;
	cursor: pointer;
}

.npm{
	background-color: #D1DBBD;
	border: .1vw solid #3E606F;
	padding: 1vw;
}

.code{
	padding: 1vw;
	font-size: 1.3vw;
}

div.modui-popup div.html-contents {
	min-width: 3.5vw;
}

@media(max-width: 700px){
	body, input{
		font-size: 3vw;
	}

	.code{
		font-size: 2.5vw;
	}

	.banner{
		font-size: 8vw;
	}

	.section-header{
		font-size: 5vw;
	}

	.modui-popup{
		font-size: 2.5vw !important;
	}

	.big-button{
		width: 20vw;
		height: 5vw;
		font-size: 3.5vw;
	}

	.example2--container{
		width: 17vw;
	}

	.example2--container input{
		width: 15vw;
	}

	.main{
		max-width: 75vw;
	}
}