@font-face{
  font-family: 'unispace';
  src: url('../fonts/unispace.ttf');
}

@font-face{
  font-family: 'main';
  src: url('../fonts/Sansation.ttf');
}

body{
	margin: 0;
	background-color: #FCFFF5;
	font-family: 'main', sans-serif;
}

body, button, input, a{
	color: #193441;
}

body, input{
	font-size: 1.5vw;
}

button, input, .e3-table, .nav--link, .code{
	background-color: #D1DBBD;
	border: .1vw solid #3E606F;
}

input{
	padding: .3vw;
	max-width: 100%;
}

code, h1, h2{
	font-family: 'unispace', monospace;
}

.modui-popup{
	background-color: #FCFFF5 !important;
	color: #193441 !important;
	font-size: 1.2vw !important;
}

.main{
	max-width: 62vw;
	margin: 0 auto;
}

.banner{
	font-size: 5vw;
	margin: 3vw 0 5vw;
	text-align: center;
}

.nav{
	width: 100%;
}

.nav--link{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 32%;
	padding: 1vw 0;
}

.section-header{
	font-size: 3vw;
	margin-top: 5.5vw;
}

.example{
	margin-top: 3.5vw;
}

.example--component{
	display: inline-block;
	vertical-align: middle;
}

.example--text{
	width: 70%;
}

.example--demo{
	width: 25%;
	text-align: right;
}

.example--demo__left{
	text-align: left;
}

.big-button{
	width: 80%;
	height: 5vw;
	font-size: 2vw;
	cursor: pointer;
}

.example_2--container{
	overflow: hidden;
	text-align: center;
	width: 10vw;
}

.example_2--container input{
	width: 8vw;
}

.e3-table{
	width: 100%;
}

.e3-table tr{
	height: 2vw;
}

.e3-table td{
	width: 30%;
}

.e3-table__right{
	text-align: right;
}

.e3-table__center{
	text-align: center;
}

.e3-table__left{
	text-align: left;
}

/*.example_4--container{
	overflow: hidden;
}

.example_4--outer{
	display: inline-block;
	border: thin solid black;
	margin: 25px;
	padding: 25px;
}

.example_4--inner{
	display: inline-block;
	width: 100%;
	height: 100%;
}*/

.code{
	padding: 1vw;
}